* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: black;
  height: 60px;

}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;   /* centers items horizontally */
  align-items: center;       /* vertically centers items */
  gap: 30px;                 /* space between items */
  margin: 0;
  padding: 0;
  padding-top: 15px;
}


nav ul li {
   font-family: Verdana,sans-serif;
}

nav ul li a {
  text-decoration: none;
  color: #fff; /* White text */
  font-size: 18px;
  font-weight: 500;
  padding: 8px 12px;
  transition: all 0.3s ease;
  font-size: 18px;
  font-family: 'alegreya Sans SC', sans-serif;
}

/* Hover effect */
nav ul li a:hover {
  color: #ff0000; /* Royal Enfield golden touch */
  border-bottom: 2px solid #ff0000;
}

/* Optional active state */
nav ul li a.active {
  color: #ffcc00;
  border-bottom: 2px solid #ffcc00;
}

.logo{
    height:30px;
    width:full;
    padding-left:50px;
    cursor: pointer;
}
.userIcon{
  height:30px;
  width:30px;
  margin-right: 20px;
}
.userIcon:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}





.iframe-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 ratio */
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}





.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-top p {
  color: #bbb;
  font-size: 18px;
  margin-bottom: 15px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 22px;
  font-weight: bold;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-item i {
  color: #d32f2f;
}

.contact-item a {
  color: #fff;
  text-decoration: none;
}

.contact-item a:hover {
  text-decoration: underline;
}

.divider {
  color: #555;
  font-weight: normal;
}

.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid #222;
  padding-top: 30px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.social-icons a {
  background-color: #000000;
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  font-size: 18px;
  transition: background 0.3s;
}

.social-icons a:hover {
  background-color: #ffffff;
}

.policy-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 15px;
}

.policy-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.policy-links a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-bottom p {
  color: #888;
  font-size: 13px;
}
